﻿@model IEnumerable<TestApp.Models.AccountBasicViewModel>

@using GridMvc.Html
@using GridMvc.Sorting

@Html.Grid(Model).Named("accountsGrid").Columns(columns =>
   {
       /* Adding not mapped column, that renders body, using inline Razor html helper */
       columns.Add()
               .Encoded(false)
               .Sanitized(false)
               .SetWidth(30)
               .Css("hidden-xs") //hide on phones
               .RenderValueAs(c =>
                @<b>
                    @Html.ActionLink("Edit", "Edit", new { id = c.AccountId }, new { @class = "modal_link" })
                </b>);
         

   }).WithPaging(15).Sortable().Filterable().WithMultipleFilters()
